@model School
@{ 
    ViewData["Title"] = "School Information";
}

<h1>Eschool @ViewData["Title"]</h1>
<h2>Name: @Model.Name</h2>
<h3>School Type:@Model.TypeSchool</h3>
<address>
    <p>Direction: @Model.AddressSchool</p>
    <p>Country: @Model.Country</p>
    <p>Town:@Model.Town</p>
</address>
<p><strong>Year Of Creation: @Model.YearOfCreation</strong></p>
